//@import "compass/reset";
@import "normalize";
@import "compass/utilities";
@import "compass/css3";

$border_all: 0px solid blue;

/*Media Query Sizes*/
$larger-than-tiny: "only screen and (min-width : 480px)";

$pads-desktop: "only screen and (min-width : 640px)";

$landscapepads-desktop: "only screen and (min-width : 960px)";

/* Site color pallete */
$slate_gray: #242424;
$dark_white: #E8E8E8;
$dark_blue: #4A36FF;
$very_light_gray: #DBDBDB;
$light_gray: #BFBFBF;
$light_blue: #8ABBFF;
$muddy_brown: #A38050;
$dark_text: #404040;

$headings: #E8E8E8;
$dark_gray: #999999;
$show_summary: #BDBDBD;
$emergency_red: #C9001B;

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a:link, a:visited {
	text-decoration: none;
	color: $muddy_brown;
}

ul {
	list-style: none;
	padding-left: 0px;
}

label {
	display: block;
	width: 100%;
	float: left;
}

html {
	font-size: 12px;
	height: 100%;
	body {
		background-color: $dark_white;
		height: 100%;
		h1 { font-size: 2.5rem; }
		h2 {
			font-size: 2rem;
			float: left;
			display: block;
			width: 100%;
		}
		h3 { font-size: 1.5rem; }
	}
}

.container {
	@include clearfix;
	overflow: auto;
	height: 100%;
	margin: 0 auto;
	max-width: 68rem;
	width: 95%;
	background-color: $dark_white;
	font-size: 1.2rem;
	.column {
		margin: 0 auto;
		width: 100%;
	}
}

header {
	margin: 0 auto;
	height: 100px;
	#persistent_logo {
		margin-top: 10px;
		font-size: 2rem;
		h1 {
			color: #999999;
		}
	}
	#meta-nav {
		width: 60%;
		height: 50px;
		float: left;
		padding-top: 20px;
	}
	#user {
		float: right;
		width: 20%;
		height: 50px;
		h3 {
			margin: 0;
		}
	}
}
.flash {
	float: left;
	margin: 10px 0 10px 0;
	display: block;
	width: 100%;
}

#welcome {
	margin: 0 auto;
	h2 {
		margin-bottom: 10px;
	}
}
#login {
	h2 {
		margin-top: 0px;
	}
	form {
		input {
			display: inline-block;
		}
	}
}
#signup {
	form {
		input {
			display: inline-block;
		}
	}
}
#show_shows {
	#shows {
		font-size: 1.8rem;
	}
}
#add_show {
	#show_submit {
		#submit {
			margin-bottom: 20px;
		}
	}
}
#show_detail {
	.season_select {
		font-size: 2rem;
		text-align: center;
		cursor: pointer;
		margin-bottom: 4px;
		#episodes {
			li {
				@include clearfix;
				margin-bottom: 1px;
				height: 100%;
				background-color: $light_gray;
			}
			div[class*="watched_"] {
				font-size: 1.5rem;
				width:85%;
				margin-right: 10px;
				display: inline-block;
				float: left;
				cursor: pointer;
				#overview {
					text-align: left;
					padding: 0 0 5px 5px;
					margin-top: 10px;
				}
			}
			.update_ep_status {
				width: 10%;
				height: 100%;
				font-size: 1.5rem;
				display: inline-block;
				cursor: pointer;
			}
			.watched_true {
				color: $very_light_gray;
			}
		}
	}
}
#admin_panel {
	#admin_controls {
		.admin_buttons {
			display: inline-block;
		}
		#delete_user {
			float: right;
			cursor: pointer;
			color: $emergency_red;
		}
	}
	#del_shows {
		cursor: pointer;
	}
	#del_shows li:hover {
		color: $emergency_red;
	}
}
#confirm_popup {
		display: none;
		position: absolute;
		left: 10%;
		top: 40%;
		width: 250px;
		height: 150px;
		text-align: center;
		font-size: 1.2rem;
		padding: 20px;
		border: 1px solid;
		border-radius: 3px;
		.confirm_button {
			display: inline-block;
			margin-top: 20px;
			padding: 12px;
			width: 100px;
			height: 50px;
			border: 1px solid;
			border-radius: 3px;
			cursor: pointer;
		}
	}


@media #{$larger-than-tiny} {
	html {
		body {
			background-color: $slate_gray;
		}
	}
	.container {
		padding: 10px;
	}
	.column {
		//float: left;
	}
	.column.full { width: 100%; }
	.column.half { width: 50%; margin: 0 auto;}
	.column.third { width: 33.3%; }
	.column.quarter { width: 25%; }

	#login {
		background-color: $light_blue;
		width: 300px;
		padding: 0 20px 20px 20px;
		border-radius: 5px;
	}

	#signup {
		background-color: $light_blue;
		width: 300px;
		height: 300px;
		padding: 0 20px 20px 20px;
		border-radius: 5px;
	}
	#show_shows {
		h3 {
			width: 200px;
		}
	}

} /* End larger-than-tiny media query */

@media #{$pads-desktop} {

}