//@import "compass/reset";
@import "normalize";
@import "compass/utilities";
@import "compass/css3";

$border_all: 0px solid blue;

/*Media Query Sizes*/
$smallest-landscape: "only screen and (min-width : 480px)";
$iphone-portrait: "only screen and (min-width : 640px)";
$iphone-landscape: "only screen and (min-width : 960px)";

/* Site color pallete */
$slate_gray: #242424;
$dark_white: #E8E8E8;
$dark_blue: #4A36FF;
$very_light_gray: #DBDBDB;
$light_gray: #BFBFBF;
$light_blue: #8ABBFF;
$muddy_brown: #A38050;
$dark_text: #404040;

$headings: #E8E8E8;
$dark_gray: #999999;
$show_summary: #BDBDBD;
$emergency_red: #C9001B;



*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a:link, a:visited {
	text-decoration: none;
	color: $muddy_brown;
}

ul {
	list-style: none;
	padding-left: 0px;
}

label {
	display: block;
	width: 100%;
	float: left;
}

html {
	font-size: 12px;
	height: 100%;
	body {
		background-color: $dark_white;
		height: 100%;
		min-width: 26.4rem;
		h1 { font-size: 2.6rem; }
		h2 {
			font-size: 2rem;
			float: left;
			display: block;
			width: 100%;
			margin: 0 0 10px 0;
		}
		h3 { font-size: 1.5rem; }
	}
}

.container {
	@include clearfix;
	overflow: auto;
	height: 100%;
	margin: 0 auto;
	max-width: 68rem;
	width: 95%;
	background-color: $dark_white;
	font-size: 1.2rem;
	.column {
		margin: 0 auto;
		width: 100%;
	}
}

header {
	margin: 0 auto;
	height: 90px;
	border-bottom: 2px solid $light_gray;
	#persistent_logo {
		margin-top: 10px;
		font-size: 2rem;
		h1 {
			color: #999999;
			margin-bottom: 0;
		}
	}
	#meta-nav {
		font-size: 1.5rem;
		width: 75%;
		height: 50px;
		float: left;
		padding-top: 20px;
		a:last-child {
			margin-left: 8px;
		}
	}
	#user {
		float: right;
		width: 20%;
		height: 50px;
		margin-top: 0;
		h3 {
			margin: 0;
		}
	}
}
.flash {
	float: left;
	margin: 10px 0 10px 0;
	display: block;
	width: 100%;
}

#welcome {
	margin: 20 auto;
}
#login {
	margin-top: 20px;
	form {
		input {
			display: inline-block;
		}
	}
}
#signup {
	margin-top: 20px;
	form {
		input {
			display: inline-block;
		}
	}
}
#show_shows {
	#shows {
		font-size: 1.8rem;
	}
}
#add_show {
	margin-top: 20px;
	#show_info {
		h4 {
			margin-bottom: 0;
		}
		#show_submit {
			#submit {
			margin: 5px 0 0 0;
			float: left;
			display: inline-block;
			}
		}
		p {
			display: inline-block;
			margin: 0 0 0 5px;
			padding: 0;
		}
	}
}
#show_detail {
	.season_select {
		font-size: 2rem;
		text-align: center;
		cursor: pointer;
		margin-bottom: 4px;
		#episodes {
			li {
				@include clearfix;
				margin-bottom: 1px;
				height: 100%;
				background-color: $light_gray;
			}
			div[class*="watched_"] {
				font-size: 1.5rem;
				width:85%;
				margin-right: 10px;
				display: inline-block;
				float: left;
				cursor: pointer;
				#overview {
					text-align: left;
					padding: 0 0 5px 5px;
					margin-top: 10px;
				}
			}
			.update_ep_status {
				width: 10%;
				height: 100%;
				font-size: 1.5rem;
				display: inline-block;
				cursor: pointer;
			}
			.watched_true {
				color: $very_light_gray;
			}
		}
	}
}
#admin_panel {
	margin-top: 30px;
	padding-top: 10px;
	border-top: 2px solid $light_gray;
	#admin_controls {
		.admin_buttons {
			display: inline-block;
			font-size: 1.5rem;
		}
		#delete_user {
			float: right;
			cursor: pointer;
			color: $emergency_red;
		}
	}
	#del_shows {
		cursor: pointer;
		li {
			font-size: 1.25rem;
			margin-bottom: 5px;
		}
	}
}
#confirm_popup {
		display: none;
		position: absolute;
		left: 15%;
		top: 40%;
		width: 240px;
		height: 140px;
		text-align: center;
		font-size: 1.3rem;
		padding: 20px;
		border: 1px solid $very_light_gray;
		border-radius: 5px;
		background-color: $light_blue;
		color: $dark_text;
		@include box-shadow($light_gray 2px 2px 10px);
		.confirm_button {
			display: inline-block;
			margin-top: 20px;
			padding-top: 10px;
			width: 80px;
			height: 40px;
			border: 1px solid $very_light_gray;
			border-radius: 3px;
			cursor: pointer;
			background-color: $very_light_gray;
		}
		.confirm_button:last-child {
			margin-left: 5px;
		}
		.confirm_button:active {
			background-color: white;
		}
	}


@media #{$smallest-landscape} {
	html {
		body {
			background-color: $slate_gray;
		}
	}
	.container {
		padding: 10px;
	}
	.column {
		//float: left;
	}
	.column.full { width: 100%; }
	.column.half { width: 50%; margin: 0 auto;}
	.column.third { width: 33.3%; }
	.column.quarter { width: 25%; }

	#login {
		background-color: $light_blue;
		width: 300px;
		padding: 0 20px 20px 20px;
		border-radius: 5px;
	}

	#signup {
		background-color: $light_blue;
		width: 300px;
		height: 300px;
		padding: 0 20px 20px 20px;
		border-radius: 5px;
	}
	#show_shows {
		h3 {
			width: 200px;
		}
	}
	#confirm_popup {
		left: 30%;
	}

} /* End larger-than-tiny media query */

@media #{$iphone-portrait} {
	html {
		body {
			h1 { font-size: 3.5rem; }
			h2 { font-size: 3rem; }
			h3 { font-size: 2.2rem; }
		}
	}
	
	header {
		height: 110px;
		#persistent_logo {
			h1 {
				margin-top: 10px;
			}
		}
		#meta-nav {
			font-size: 2.3rem;
		}
		#user {
			text-align: right;
		}
	}
}