@import "compass/reset";
@import "960/grid";
@import "compass/utilities";
@import "compass/css3";

$border_all: 0px solid blue;

/* Devices */
$phone-landscape: "only screen and (min-width : 480px)";

$retina-portrait: "only screen and (min-width : 640px)";

$retina-and-beyond: "only screen and (min-width : 960px)";

/* Site color pallete */
$background-base: #242424;
$base_color: #4A36FF;
$base_text: #DBDBDB;
$dark_text: #404040;
$light_text: #BFBFBF;
$headings: #E8E8E8;
$season_list: #999999;
$show_summary: #BDBDBD;


h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

h2 {
    font-size: 35px;
    margin-bottom: 15px;
    color: $headings;
}

h3 {
    font-size: 25px;
    color: $headings;
}

h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: $headings;
}

a:hover {
    text-decoration: underline;
}

$ninesixty-columns: 12;

body {
    background-color: $background-base;
    color: $base_text;
    font-size: 20px;
}

#container {
    @include grid(4);
    @include clearfix;
    margin-top: 20px;
    border: $border_all;
    header {
        @include grid(4);
        @include alpha;
        border: $border_all;
        #persistent_logo {
            @include grid(4);
            @include alpha;
            a {
                text-decoration: none;
                color: $base_color;         }
        }
        #meta-nav {
            @include grid(4);
            @include alpha;
            border: $border_all;
        }
        #user {
            @include grid(2);
            margin-bottom: 10px;
            border: $border_all;
            float: right;
            text-align: right;
            a {
                font-size: 15px;
            }
        }
    }
    /* End header */
    #main-content {
        @include clearfix;
        width: 100%;
        border: $border_all;
        float: left;
        margin-top: 30px;
        //height: 300px;
        h3 {
            font-size: 30px;
        }
        #welcome {
            width: 100%;
            padding: 10px;
            background-color: $season_list;
            @include border-radius(5px);
            border: $border_all;
        }
        #shows {
            margin-top: 10px;
            li {
                margin-bottom: 3px;
                a {
                    text-decoration: none;
                    color: $light_text;
                }
                a:hover {
                    color: $dark_text;
                }
            }
        }
        #show_detail {
            margin-top: 15px;
            margin-bottom: 10px;
            padding: 5px;
            line-height: 25px;
            @include border-radius(5px);
        }
        #search_results {
            p {
                margin: 10px 0 10px 0;
            }
            ul {
                li {
                    margin-bottom: 5px;
                }
            }
        }
        #show_submit {
            margin-bottom: 10px;
        }
        #show_focus {
            @include clearfix;
            text-align: center;
            h2 {
                font-size: 1.9em;
            }
        }
        #season_list:nth-child(1) {
            border-radius: 5px;
            background-color: red;
        }
        #season_list {
            margin-bottom: 10px;
            .season_select {
                margin: 0 0 5px 0;
                padding: 5px 0 5px 0;
                width: 100%;
                background-color: $season_list;
                font-size: 25px;
                cursor: pointer;
                text-align: center;
                #episodes li {
                    margin-bottom: 5px;
                    background-color: $show_summary;
                    color: $dark_text;
                    div[class*='watched_'] {
                        @include inline-block;
                        width: 80%;
                        #overview {
                            margin: 5px 0 10px 0;
                            font-size: 20px;
                            color: $dark_text;
                            text-align: left;
                            line-height: 25px;
                        }
                    }
                    .update_ep_status {
                        @include inline-block;
                        width: 15%;
                    }
                }
                .watched_false {
                    text-decoration: none;
                }
                .watched_true {
                    color: rgba(0, 0, 0, 0.3);
                }
            }
            .season_select:nth-child(1) {
                @include border-top-radius(5px);
            }
            .season_select:last-child {
                @include border-bottom-radius(5px);
            }
        }
        form[name='login'] {
            label {
                @include grid(1.5);
            }
        }
        #admin_panel {
            width: 100%;
            #admin_controls {
                .admin_buttons {
                    @include grid(1.5);
                    @include inline-block;
                    @include border-radius(5px, 5px);
                    height: 35px;
                    padding-top: 5px;
                    background-color: $light_text;
                    border: 1px solid $dark_text;
                    color: $dark_text;
                    text-align: center;
                    font-size: 15px;
                    cursor: pointer;
                }
                .admin_buttons:hover {
                    background-color: $dark_text;
                    color: $light_text;
                    border: 1px solid $light_text;
                }
            }
            #shows {
                @include grid(4);
                li{
                    cursor: pointer;
                    padding: 0 0 5px 3px;
                }
                li:active {
                    color: red;
                }
                .del_confirm {
                    width: 100%;
                    text-align: center;

                }
            }
        }
    }
}

/* End container */

@media #{$phone-landscape} {
    #container {
        @include grid(6);
        @include clearfix;
        header {
            @include grid(6);
            #persistent_logo {
                @include grid(5);
                @include alpha;
            }
        }
        #main-content {
            @include grid(6);
            #welcome {
                @include grid(6);
            }
        }
    }
}

@media #{$retina-portrait} {
    #container {
        @include grid(8);
        header {
            @include grid(8);
        }
        #main-content {
            @include grid(8);
        }
    }
}

@media #{$retina-and-beyond} {
    #container {
        @include grid(12);
        header {
            @include grid(12);
            #persistent_logo {
                @include grid(10);
                @include alpha;
            }
        }
        #main-content {
            //@include grid-push(2);
        }
    }
}