@import "compass/reset";
@import "960/grid";
@import "compass/utilities";

$border_all: 1px solid blue;

/* Devices */
$phone-landscape: "only screen and (min-width : 480px)";

/* Site color pallete */
$season_list: #C7DBFF;


h1 {
	font-size: 30px;
	margin-bottom: 20px;
}
h2 {
	font-size: 24px;
	margin-bottom: 15px;
}
h3 {
	font-size: 20px;
}

$ninesixty-columns: 12;

#container {
  @include grid(4);
  @include clearfix;
  margin-top: 20px;
  border: $border_all;

  header, footer {
    @include grid(4);
    @include alpha;
    border: $border_all;

    #meta-nav {
    @include grid(4);
    @include alpha;
    border: $border_all;
  	}
  	#user {
  		@include grid(2);
  		border: $border_all;
      float: right;
  		text-align: right;
  	}
  } /* End header, footer */

  #main-content {
    @include clearfix;
    width: 100%;
    border: $border_all;
    float: left;
    margin-top: 30px;
    //height: 300px;

    #welcome {
      width: 100%;
      border: $border_all;
    }

    #show_focus {
      @include clearfix;
      text-align: center;
    }

    #season_list {
      margin-bottom: 10px;
    	.season_select {
        margin: 0 0 5px 0;
        padding: 5px 0 5px 0;
        width: 100%;
        background-color: $season_list;
        font-size: 25px;
        cursor: pointer;
        text-align: center;

        .watched_false {
          text-decoration: none;
        }
        .watched_true {
          text-decoration: line-through;
        }
    	}
    }

    form[name='login'] {
      label {
        @include grid(1.5);
      }
    }
  }
} /* End container */

@media #{$phone-landscape} {
  #container {
    @include grid(6);
    @include clearfix;

    header, footer {
      @include grid(6);
    }
    #main-content {
      width: 100%;

      #welcome {
        @include grid(6);
      }
    }
  }
}