@import "compass/reset";
@import "960/grid";
@import "compass/utilities";
@import "compass/css3";

$border_all: 0px solid blue;

/* Devices */
$phone-landscape: "only screen and (min-width : 480px)";

$retina-portrait: "only screen and (min-width : 640px)";

$retina-and-beyond: "only screen and (min-width : 960px)";

/* Site color pallete */
$base_color: #7baaff;
$dark_text: #001e54;
$light_text: #003aa2;
$season_list: #c7dbff;
$show_summary: #6ca1ff;

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

$ninesixty-columns: 12;

#container {
    @include grid(4);
    @include clearfix;
    margin-top: 20px;
    border: $border_all;
    header {
        @include grid(4);
        @include alpha;
        border: $border_all;
        #persistent_logo {
            a {
                text-decoration: none;   
                color: $base_color;         }
        }
        #meta-nav {
            @include grid(4);
            @include alpha;
            border: $border_all;
        }
        #user {
            @include grid(2);
            border: $border_all;
            float: right;
            text-align: right;
        }
    }
    /* End header */
    #main-content {
        @include clearfix;
        width: 100%;
        border: $border_all;
        float: left;
        margin-top: 30px;
        //height: 300px;
        #welcome {
            width: 100%;
            padding: 10px;
            background-color: $season_list;
            @include border-radius(5px);
            border: $border_all;
        }
        #shows {
            margin-top: 10px;
            li {
                margin-bottom: 3px;
                a {
                    text-decoration: none;
                    color: $dark_text;
                }
                a:hover {
                    color: $light_text;
                }
            }
        }
        #show_detail {
            margin-top: 15px;
            margin-bottom: 10px;
            padding: 5px;
            line-height: 25px;
            @include border-radius(5px);
        }
        #search_results {
            p {
                margin: 10px 0 10px 0;
            } 
            ul {
                li {
                    margin-bottom: 5px;
                }
            }
        }
        #show_submit {
            margin-bottom: 10px;
        }
        #show_focus {
            @include clearfix;
            text-align: center;
            h2 {
                font-size: 1.9em;
            }
        }
        #season_list {
            margin-bottom: 10px;
            .season_select {
                margin: 0 0 5px 0;
                padding: 5px 0 5px 0;
                width: 100%;
                background-color: $season_list;
                font-size: 25px;
                cursor: pointer;
                text-align: center;
                #episodes li {
                    margin-bottom: 3px;
                    background-color: #E0EBFF;
                    div[class*='watched_'] {
                        @include inline-block;
                        width: 80%;
                        #overview {
                            margin: 5px 0 10px 0;
                            font-size: 20px;
                            color: $dark_text;
                            text-align: left;
                            line-height: 25px;
                        }
                    }
                    .update_ep_status {
                        @include inline-block;
                        width: 15%;
                    }                    
                }
                
                .watched_false {
                    text-decoration: none;
                }
                .watched_true {
                    color: rgba(0, 0, 0, 0.3);
                }
            }
        }
        form[name='login'] {
            label {
                @include grid(1.5);
            }
        }
    }
}

/* End container */

@media #{$phone-landscape} {
    #container {
        @include grid(6);
        @include clearfix;
        header {
            @include grid(6);
        }
        #main-content {
            @include grid(6);
            #welcome {
                @include grid(6);
            }
        }
    }
}

@media #{$retina-portrait} {
    #container {
        @include grid(8);
        header {
            @include grid(8);
        }
        #main-content {
            @include grid(8);
        }
    }
}

@media #{$retina-and-beyond} {
    #container {
        @include grid(12);
        header {
            @include grid(12);
        }
        #main-content {
            @include grid-push(2);
        }
    }
}