@import "compass/reset";
@import "960/grid";
@import "compass/utilities";
@import "compass/typography/lists/inline-block-list";

$border_all: 1px solid blue;

/* Site color pallete */
$brown: #B2914C;
$white: #FFFCF5;
$yellow: #FFCF6C;
$gray: #7F92B2;
$blue: #7DAEFF;

h1 {
	font-size: 30px;
	margin-bottom: 20px;
}
h2 {
	font-size: 24px;
	margin-bottom: 15px;
}
h3 {
	font-size: 20px;
}

$ninesixty-columns: 12;

#container {
  @include grid-container;
  @include clearfix;
  margin-top: 20px;
  border: $border_all;

  header, footer {
    @include grid(12);
    border: $border_all;

    #meta-nav {
    @include grid(4);
    border: $border_all;
  	}
  	#user {
  		@include grid(2);
  		border: $border_all;
  		float: right;
  		text-align: right;
  	}
  }

  #main-content {
    @include grid(8);
    @include grid-push(2);
    border: $border_all;
    margin-top: 30px;

    #season_list {
    	@include inline-block-list;
      margin-bottom: 10px;
    	li {
    			cursor: pointer;
    	}
    }
    #ep_list {
    	li {
    		cursor: pointer;
        padding: 4px;
    	}
      .watched_true {
        text-decoration: line-through;
      }
    }
    form[name='login'] {
      label {
        @include grid(1.5);
      }
    }
  }
}