.empty_small, .full_small{
	background: url(sprites.png) no-repeat;
}

.empty_small{
	background-position: 0 0;
	width: 12px;
	height: 12px;
}

.full_small{
	background-position: 0 -14px ;
	width: 12px;
	height: 12px;
}

