li {
	list-style: none;
}

#user {
	position: absolute;
	top: 10px;
	right: 20px;
}

#season_list li {
	margin-right: 10px;
	display: inline-block;
}

.season_select {
	color: blue;
	cursor: pointer;
}

#ep_list li {
	margin: 0 0 5px 0;
	width: 300px;
	cursor: pointer;
}

#ep_list .watched_true {
	text-decoration: line-through;
}

/* Signup form */
form input#username,
form input#email,
form input#password {
	margin: 5px 0 10px 0;
}
form input#password {
	margin-bottom: 15px;
}