/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Devices */
/* Site color pallete */
/* line 20, ../sass/style.scss */
h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* line 25, ../sass/style.scss */
h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

/* line 30, ../sass/style.scss */
h3 {
  font-size: 20px;
}

/* line 34, ../sass/style.scss */
h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

/* line 41, ../sass/style.scss */
#container {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  overflow: hidden;
  *zoom: 1;
  margin-top: 20px;
  border: 0px solid blue;
  /* End header */
}
/* line 46, ../sass/style.scss */
#container header {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  margin-left: 0;
  border: 0px solid blue;
}
/* line 51, ../sass/style.scss */
#container header #persistent_logo a {
  text-decoration: none;
  color: #7baaff;
}
/* line 55, ../sass/style.scss */
#container header #meta-nav {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  margin-left: 0;
  border: 0px solid blue;
}
/* line 60, ../sass/style.scss */
#container header #user {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
  border: 0px solid blue;
  float: right;
  text-align: right;
}
/* line 68, ../sass/style.scss */
#container #main-content {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  border: 0px solid blue;
  float: left;
  margin-top: 30px;
}
/* line 75, ../sass/style.scss */
#container #main-content #welcome {
  width: 100%;
  border: 0px solid blue;
}
/* line 79, ../sass/style.scss */
#container #main-content #show_detail {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 5px;
  line-height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 87, ../sass/style.scss */
#container #main-content #search_results p {
  margin: 10px 0 10px 0;
}
/* line 91, ../sass/style.scss */
#container #main-content #show_submit {
  margin-bottom: 10px;
}
/* line 94, ../sass/style.scss */
#container #main-content #show_focus {
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
/* line 97, ../sass/style.scss */
#container #main-content #show_focus h2 {
  font-size: 1.9em;
}
/* line 101, ../sass/style.scss */
#container #main-content #season_list {
  margin-bottom: 10px;
}
/* line 103, ../sass/style.scss */
#container #main-content #season_list .season_select {
  margin: 0 0 5px 0;
  padding: 5px 0 5px 0;
  width: 100%;
  background-color: #c7dbff;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
}
/* line 111, ../sass/style.scss */
#container #main-content #season_list .season_select #episodes li {
  margin-bottom: 3px;
  background-color: #E0EBFF;
}
/* line 115, ../sass/style.scss */
#container #main-content #season_list .season_select .watched_false {
  text-decoration: none;
}
/* line 118, ../sass/style.scss */
#container #main-content #season_list .season_select .watched_true {
  color: rgba(0, 0, 0, 0.3);
}
/* line 124, ../sass/style.scss */
#container #main-content form[name='login'] label {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}

/* End container */
@media only screen and (min-width: 480px) {
  /* line 134, ../sass/style.scss */
  #container {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 137, ../sass/style.scss */
  #container header {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
  }
  /* line 140, ../sass/style.scss */
  #container #main-content {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
  }
  /* line 142, ../sass/style.scss */
  #container #main-content #welcome {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
  }
}
@media only screen and (min-width: 640px) {
  /* line 150, ../sass/style.scss */
  #container {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 620px;
  }
  /* line 152, ../sass/style.scss */
  #container header {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 620px;
  }
  /* line 155, ../sass/style.scss */
  #container #main-content {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 620px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 162, ../sass/style.scss */
  #container {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 940px;
  }
  /* line 164, ../sass/style.scss */
  #container header {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 940px;
  }
  /* line 167, ../sass/style.scss */
  #container #main-content {
    position: relative;
    left: 160px;
  }
}
