/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Devices */
/* Site color pallete */
/* line 26, ../sass/style.scss */
h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

/* line 31, ../sass/style.scss */
h2 {
  font-size: 35px;
  margin-bottom: 15px;
  color: #e8e8e8;
}

/* line 37, ../sass/style.scss */
h3 {
  font-size: 25px;
  color: #e8e8e8;
}

/* line 42, ../sass/style.scss */
h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

/* line 47, ../sass/style.scss */
a {
  text-decoration: none;
  color: #e8e8e8;
}

/* line 52, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 58, ../sass/style.scss */
body {
  background-color: #242424;
  color: #dbdbdb;
  font-size: 20px;
}

/* line 64, ../sass/style.scss */
#container {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  overflow: hidden;
  *zoom: 1;
  margin-top: 20px;
  border: 0px solid blue;
  /* End header */
}
/* line 69, ../sass/style.scss */
#container header {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  margin-left: 0;
  border: 0px solid blue;
}
/* line 73, ../sass/style.scss */
#container header #persistent_logo {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  margin-left: 0;
}
/* line 76, ../sass/style.scss */
#container header #persistent_logo a {
  text-decoration: none;
  color: #4a36ff;
}
/* line 80, ../sass/style.scss */
#container header #meta-nav {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  margin-left: 0;
  border: 0px solid blue;
}
/* line 85, ../sass/style.scss */
#container header #user {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
  margin-bottom: 10px;
  border: 0px solid blue;
  float: right;
  text-align: right;
}
/* line 91, ../sass/style.scss */
#container header #user a {
  font-size: 15px;
}
/* line 97, ../sass/style.scss */
#container #main-content {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  border: 0px solid blue;
  float: left;
  margin-top: 30px;
}
/* line 104, ../sass/style.scss */
#container #main-content h3 {
  font-size: 30px;
}
/* line 107, ../sass/style.scss */
#container #main-content #welcome {
  width: 100%;
  padding: 10px;
  background-color: #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 0px solid blue;
}
/* line 114, ../sass/style.scss */
#container #main-content #shows {
  margin-top: 10px;
}
/* line 116, ../sass/style.scss */
#container #main-content #shows li {
  margin-bottom: 3px;
}
/* line 118, ../sass/style.scss */
#container #main-content #shows li a {
  text-decoration: none;
  color: #bfbfbf;
}
/* line 122, ../sass/style.scss */
#container #main-content #shows li a:hover {
  color: #404040;
}
/* line 127, ../sass/style.scss */
#container #main-content #show_detail {
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 135, ../sass/style.scss */
#container #main-content #search_results p {
  margin: 10px 0 10px 0;
}
/* line 139, ../sass/style.scss */
#container #main-content #search_results ul li {
  margin-bottom: 5px;
}
/* line 144, ../sass/style.scss */
#container #main-content #show_submit {
  margin-bottom: 10px;
}
/* line 147, ../sass/style.scss */
#container #main-content #show_focus {
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
/* line 150, ../sass/style.scss */
#container #main-content #show_focus h2 {
  font-size: 1.9em;
}
/* line 154, ../sass/style.scss */
#container #main-content #season_list:nth-child(1) {
  border-radius: 5px;
  background-color: red;
}
/* line 158, ../sass/style.scss */
#container #main-content #season_list {
  margin-bottom: 10px;
}
/* line 160, ../sass/style.scss */
#container #main-content #season_list .season_select {
  margin: 0 0 5px 0;
  padding: 5px 0 5px 0;
  width: 100%;
  background-color: #999999;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
}
/* line 168, ../sass/style.scss */
#container #main-content #season_list .season_select #episodes li {
  margin-bottom: 3px;
  background-color: #bdbdbd;
  color: #404040;
}
/* line 172, ../sass/style.scss */
#container #main-content #season_list .season_select #episodes li div[class*='watched_'] {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 80%;
}
/* line 175, ../sass/style.scss */
#container #main-content #season_list .season_select #episodes li div[class*='watched_'] #overview {
  margin: 5px 0 10px 0;
  font-size: 20px;
  color: #404040;
  text-align: left;
  line-height: 25px;
}
/* line 183, ../sass/style.scss */
#container #main-content #season_list .season_select #episodes li .update_ep_status {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 15%;
}
/* line 188, ../sass/style.scss */
#container #main-content #season_list .season_select .watched_false {
  text-decoration: none;
}
/* line 191, ../sass/style.scss */
#container #main-content #season_list .season_select .watched_true {
  color: rgba(0, 0, 0, 0.3);
}
/* line 195, ../sass/style.scss */
#container #main-content #season_list .season_select:nth-child(1) {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 198, ../sass/style.scss */
#container #main-content #season_list .season_select:last-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 203, ../sass/style.scss */
#container #main-content form[name='login'] label {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}

/* End container */
@media only screen and (min-width: 480px) {
  /* line 213, ../sass/style.scss */
  #container {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 216, ../sass/style.scss */
  #container header {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
  }
  /* line 218, ../sass/style.scss */
  #container header #persistent_logo {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 380px;
    margin-left: 0;
  }
  /* line 223, ../sass/style.scss */
  #container #main-content {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
  }
  /* line 225, ../sass/style.scss */
  #container #main-content #welcome {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
  }
}
@media only screen and (min-width: 640px) {
  /* line 233, ../sass/style.scss */
  #container {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 620px;
  }
  /* line 235, ../sass/style.scss */
  #container header {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 620px;
  }
  /* line 238, ../sass/style.scss */
  #container #main-content {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 620px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 245, ../sass/style.scss */
  #container {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 940px;
  }
  /* line 247, ../sass/style.scss */
  #container header {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 940px;
  }
  /* line 249, ../sass/style.scss */
  #container header #persistent_logo {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 780px;
    margin-left: 0;
  }
  /* line 254, ../sass/style.scss */
  #container #main-content {
    position: relative;
    left: 160px;
  }
}
