{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_show') }}" method=post class=add-entry>
      <dl>
        <dt>Show:
        <dd><input type=text size=30 name='show_name'>
        <dt>Number of Seasons:
        <dd><input type=text size=7 name='seasons_total'>
        <dt>Episodes per Season:
        <dd><input type=text size=7 name='eps_per_season'>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
  {% block details %}{% endblock %}
{% endblock %}