{% extends "layout.html" %}
{% block body %}
  {% if session.username %}
    <form action="{{ url_for('search_show') }}" method=post class=add-entry>
      <dl>
        <dt>Show:
        <dd><input type=text size=30 name='show_name'>
        <dd><input type=submit value=Search>
      </dl>
    </form>
  {% endif %}
  <!-- Return list of shows from query -->
  {% if choices %}
  <p>Results for <strong>{{ choices[0]['name'] }}</strong>:
    <ul>
    {% for choice in choices %}
      <li><a href="{{ url_for('retrieve_show') }}?value={{ choice['id'] }}">
      {{ choice['name'] }} {{ choice['first_air_date'] }}</li>
    {% endfor %}
  {% endif %}
  <!-- Return info for specific show -->
  {% if show %}
    <strong>{{ show['name'] }}</strong><br>
    <p>{{ show['overview'] }}</p>
    <form action="{{ url_for('add_show') }}" method="post" class=add-entry>
    <input type='hidden' name='id' value={{ show['id'] }}>
    <input type="submit" value="Add Show">
  {% endif %}
  {% block details %}{% endblock %}
{% endblock %}