{% extends "layout.html" %}
{% block body %}
    <div id="add_show">
    {% for message in form.show_name.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    <h2>Add a Show</h2>
    <form action="{{ url_for('new_show') }}" method=post class=add-entry>
      {{ form.hidden_tag() }}

      {{ form.show_name.label }}
      {{ form.show_name }}

      {{ form.search }}
    </form>

  <!-- If no search results found, detect variable "empty" -->
  {% if empty %}
    <div class="flash">Sorry, no results found.</div>
  {% endif %}

  <!-- Else return list of shows from query -->
  {% if choices %}
  <div id='search_results'>
  <p>Results for <strong>{{ choices[0]['name'] }}</strong>:</p>
    <ul>
    {% for choice in choices %}
      <li><a href="{{ url_for('retrieve_show') }}?value={{ choice['id'] }}">
      {{ choice['name'] }} {{ choice['first_air_date'] }}</a></li>
    {% endfor %}
    </ul>
  </div>
  </div>
  {% endif %}

  <!-- Return info for specific show -->
  {% if show %}
    <div id='show_info'>
    <h4>{{ show['name'] }}</h4>
    <form action="{{ url_for('add_show') }}" method=post id='show_submit' class='add-entry'>
      {{ form.show_id }}
      {{ form.submit }}
    </form>
    <p>{{ show['overview'] }}</p>
    </div>
  {% endif %}

  {% if message %}
    <div class="flash">{{ message }}</div>
  {% endif %}

  <script src="{{ url_for('static', filename='scripts/add_show.js') }}"></script>

  {% block details %}{% endblock %}
{% endblock %}