{% extends "layout.html" %}
{% block body %}
<div id='admin_panel'>
	<div id='admin_controls'>
		<div id='delete_show' class='admin_buttons'>
			<a href="{{ url_for('admin') }}?action=get_shows">Delete Shows</a>
		</div>
		<div id='delete_user' class='admin_buttons'>Delete User</div>
	</div>
{% if shows %}
	<ul id='del_shows'>
	  {% for show in shows %}

	    <li>
	    <a href="{{ url_for('admin') }}?action=delete_show&id={{ show.usershow_id }}">
	    {{ show.name }}</a>
	    </li>

	    <!-- If no shows, say this: -->
	    {% else %}
	    <li><em>You aren't following any shows.</em></li>
	  {% endfor %}
	 </ul>
{% endif %}
</div>
<script src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
{% endblock %}