<!DOCTYPE html>
<head>
<title>ShowTracker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/showtracker_style/stylesheets/style.css') }}">
<script src="{{ url_for('static', filename='scripts/jquery-1.10.2.js') }}"></script>
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/apple-icon-144x144.png }}" />
</head>
<body>
<div class='container'>
<header class="column full">
	<div id='persistent_logo'>
	<a href="{{ url_for('show_shows') }}"><h1>ShowTracker</h1></a>
	</div>
	<div id='meta-nav'>
	{% if session.username %}
	  <a href="{{ url_for('show_shows') }}">Show Shows</a>
	  <a href="{{ url_for('new_show') }}">Add Show</a>
	{% endif %}
	</div>
	<div id='user'>
	{% if session.username %}
		<a href="{{ url_for('admin') }}?action=landing"><h3>{{ session.username }}</h3></a>
		<a href="{{ url_for('logout') }}">log out</a>
	{% endif %}
	</div>
</header>

	{% for message in get_flashed_messages() %}
	  <div class=flash>{{ message }}</div>
	{% endfor %}

	{% block body %}{% endblock %}

</div>
</body>