{% extends "layout.html" %}

{% block body %}
	<div id='login' class="column">
	<h2>Log In</h2>

	{% for message in form.username.errors %}
		<div class="flash">{{ message }}</div>
	{% endfor %}

	{% for message in form.password.errors %}
		<div class="flash">{{ message }}</div>
	{% endfor %}

	<form action="{{ url_for('login') }}" name=login method=post>
		{{ form.hidden_tag() }}

		<!-- If arriving from signup page, populate username field -->
		{% if new_user %}
			{{ form.username.label }}
			{{ form.username (value=new_user) }}
			<br>
			{{ form.password.label }}
			{{ form.password (autofocus=true) }}
		<!-- Arriving by other means? Don't populate, but autofocus -->
		{% else %}
			{{ form.username.label }}
			{{ form.username (autofocus=true) }}
			<br>
			{{ form.password.label }}
			{{ form.password }}
		{% endif %}

		<br>
		{{ form.submit }}
	</form>
	</div>
{% endblock %}