{% extends "layout.html" %}
{% block body %}
  <div id='show_focus'>
    <h2>{{ show.name }}</h2>
  <ul id='season_list'>
  {% for season in range(seasons) %}
    <li><div class="season_select" season={{ season + 1 }}>Season {{ season + 1 }}</div></li>
  {% endfor %}
  </ul>
  <ul id='ep_list'></ul>

  <script type="text/javascript">
  // Assign Jinja2 values to JS variables
  var id = {{ show.id }};
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script src="{{ url_for('static', filename='scripts/show_detail.js') }}"></script>


{% endblock %}