{% extends "layout.html" %}
{% block body %}
  <div id='show_detail'>
    <h2>{{ show.name }}</h2>
  <ul id='season_list'>
  {% for season in range(seasons) %}

    {# This if statement handles the variation in seasons starting at 0 or 1. #}
    {% if episodes[0].season == 0 %}

      {# This if statement changes the display for Season 0. #}
      {% if season == 0 %}
        <li class="season_select" season={{ season }}>Specials</li>
      {% else %}
       <li class="season_select" season={{ season }}>Season {{ season }}</li>
      {% endif %}
    {% else %}
    <li class="season_select" season={{ season + 1 }}>Season {{ season + 1 }}</li>
    {% endif %}

  {% endfor %}
  </ul>
  <ul id='ep_list'></ul>
  </div>
  <script type="text/javascript">
  // Assign Jinja2 values to JS variables
  var id = {{ show.id }};
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script src="{{ url_for('static', filename='scripts/show_detail.js') }}"></script>


{% endblock %}