{% extends "layout.html" %}
{% block body %}
  <h3>Currently Tracking:</h3>
  <ul id='shows'>
  {% for show in shows %}

    <!-- If logged in, link to episode add -->
    {% if session.username %}
    <li><a href="{{ url_for('show_detail') }}?value={{ show.id }}">
    <h3>{{ show.name }}</h3></a></li>

    <!-- If not logged, limit to list of shows -->
    {% else %}
    <li><h3>{{ show.name }}</h3></li>
    {% endif %}

    <!-- If no shows, say this: -->
    {% else %}
    <li><em>Unbelievable.  No shows here so far</em>
  {% endfor %}
  </ul>
{% endblock %}